/* Defualt CSS Starts Here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* Nav CSS Starts */
nav {
    background:#000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display:flex;
    list-style: none;
    width: 30vw;
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
}
.mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
nav .mainMenu li a:hover {
    background: none;
    color: #9c9ca1;
}
.openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;

}

nav .openMenu {
    display: block;
    margin-top: 2%;
    margin-left: 5%;
}
nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content:center;
    margin-right: 5%;
    list-style: none;
}
.icons li a i {
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
}
.icons i:hover{
    color: #9c9ca1;
    transition: .2 ease-in;
}
nav .mainMenu , .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: white;
}
.logo {
    display: flex;
    position: relative;
    cursor: pointer;
    height: 60px;
    margin-top: 1%;
    margin-left: 3%;
    align-items: center;
    align-content: center;
    justify-content:center;
}
/* Hero Section CSS */
.hero-section-left {
    position: relative;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 13%;
    margin-left: 5%;
}
.hero-section-left h1 {
    font-size: 3rem;
    overflow: hidden; 
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 2.5s steps(40, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }
#name-mohamad {
    color: #6C63FF;
}
#developer {
    color: #9C9CA1;
}
.hero-section-left p {
    display: inline;
    font-size: 12px;
}
.hero-section-left button {
    margin-top: 10%;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 1px;
    border: #000;
    background: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 150px;
    border: 1px solid black;
}
.hero-section-left button a{
    text-decoration: none;
    color: white;
}
.hero-section-btn button:hover {
    background: #6C63FF;
    border: 1px solid #6C63FF;
    transition: .2s ease-in;
}
#view-resume{
    background:none;
    color: black;
    border: 1px solid #000;
}
#view-resume:hover{
    background: #6C63FF;
    border: 1px solid #6C63FF;
    transition: .2s ease-in;
    color: white;
}
.hero-section-right {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 50%;
}
.scroll-indecator {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;

}
/* About Me CSS Starts */
.about-me {
    display: flex;
    text-align: center;
    justify-content: center;

}
.about-me h1{
    color: black;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.5rem;
}
.about-me-content{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    height: 60vh;
    border-radius: 1px;
    margin-bottom: 5%;
}
.personal-image{
    margin-left: 5%;
    display:flex;
    align-items: center;
}
.personal-image img{
    border-radius: 500px;
}
.about-me-content p {
    margin-top: 10%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}
.download-resume{
    margin-top: 3%;
    color: white;
    display: flex;
    background:none;
    position: relative;
    padding: 10px;
    border-radius: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
}
.download-resume:hover {
    background: #6C63FF;
    border: 1px solid #6C63FF;
    transition: .2s ease-in;
}
.download-resume a{
    color: white;
    text-decoration: none;
}
.technologyies{
    margin-top: 3%;
}
.technologyies i {
    font-size: 2rem;
    padding:12px;
}
/* Projects Section Starts */
.projects-section {
    background-color: black;
    height: 100vh;
}
.projects-section h1 {
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.5rem;
}
.project-list {
    display: flex;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;

}
.project-list li a {
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-weight: 900;
    text-decoration: none;
    
}
.page {
    display: none;
}
.project-image svg {
    padding: 20px;
}
.is-active{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}
/* Coding Chellenges Section Starts */
.coding-challegnes h1{
    color: black;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}
.coding-challegnes p {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}
.contact{
    margin-top: 5%;
    height: 100vh;
    background: #000;
}
.contact h1{
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 2.5rem;
}
.contact-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.form-inputs {
    border: none;
    margin-bottom: 5%;
    display:block;
    padding:20px;
    background-color:transparent;
    color: white;
    border-bottom: 1px solid white;
    width: 500px;
}
.form-inputs:focus{
    outline: none !important;
    border-bottom: 1px solid #6c63ff;
    transition: .2s ease-in;

}
.form-inputs::placeholder{
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
#textarea{
    border: 1px solid white;
    height: 150px;
    max-width:500px;
    max-height: 150px;
}
#textarea:focus {
    border: 1px solid #6c63ff;
    transition: .2s ease-in;

}
#send-button{
    border: 1px solid white;
    width: 250px;
    font-size: 1rem;

}
#send-button:hover{
    background: #6C63FF;
    color: white;
    border: 1px solid #6C63FF;
    font-size: 1rem;
    transition: .2s ease-in;
}
.mobile-icons {
    display: none;
}
.mobile-personal-image{
    display: none;
}
/* Phone View Only */
@media only screen   
    and (min-device-width : 320px)   
    and (max-device-width : 765px){ 
        nav .mainMenu {
            width: 85vw;
        }
        nav{
            height: 50px;
        }
        .openMenu {
            font-size: 2rem;
            margin: 0px;
            display: flex;
            align-items: center;
            align-content:center;
            justify-content: center;
            cursor: pointer;
        }
        .logo {
            display: inline;
        }
        .mobile-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }
        .mobile-icons li a i {
            display: inline-block;
            padding: 5px;
            color: white;
            font-size: 2rem;
        }
        .mobile-icons i:hover{
            color: #9c9ca1;
            transition: .2 ease-in;
        }
        .icons {
            display: none;
        }
        .hero-section-right {
            display: none;
        }
        .hero-section-left{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        .hero-section-left h1 {
            font-size:1.7rem;
        }
        .hero-section-btn {
            margin-right: 5%;
            width: 100%;
        }
        .scroll_indicator {
            margin-top:20px;
        }
        /* About Me for Mobile */
        .web-personal-image {
            display: none;
        }
        .about-me-content {
            height: 100vh;
        }
        .mobile-personal-image {
            display: inline-block;
            border-radius: 100px;
            margin-bottom: 5%;
        }
        .about-me-content p{
             display: flex;
             justify-content:center;
             align-items: center;
             align-content: center;
             margin-top: 3%;
        }
        /* Projects Section For Mobile */
        .projects-section {
            margin-top: 5%;
            padding-top: 5%;
            margin-bottom: 5%;
            position: relative;
            display: flex;
            justify-content:flex-start;
            align-content: flex-start;
            flex-direction: column;
            align-items: center;
            width: 100vw;
        }
        .projects-section h1 {
            display: flex;
            padding-top: 0px;
        }
        .project-image svg{
            display: none;
            max-height: 400px;
            max-width: 400px;
        }
        .is-active{
            display: block;
            max-height: 100px;
            max-width: 100px;
        }
        /* Coding Challenege Mobile */
        .coding-challegnes p{
            padding-bottom: 5%;
        }
        /* Contact Form Mobile */
        .contact{
            height: 90vh;
        }
        .form-inputs{
            width: 300px;
        }
    }
    /* Web Window Size Table View */
    @media screen 
    and (max-width: 1350px) 
    and (min-width: 500px) 
   {
    nav .mainMenu {
        width: 100vw;
    }
    .hero-section-right {
        display: none;
    }
    .hero-section-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-section-btn{
        margin-right: 5%;
        width: 100%;
    }
    .personal-image {
        display:none;
    }
    .mobile-personal-image {
        display: flex;
        border-radius: 500px;
        margin-bottom: 5%;
    }
    .project-image {
        display: none;
    }
    .about-me-content {
        height: 80vh;
        display: flex;
        align-content: center;
        justify-content: center;
        align-content: center;
    }
   }
   /* Web window size phone view */
@media screen 
 and (max-width: 700px) 
 and (min-width:400px) 
{ 
    nav .mainMenu {
        width: 85vw;
        margin: 0px;
        padding: 0px;
    }

    .openMenu {
        font-size: 3rem;
        margin: 0px;
        display: flex;
        align-items: center;
        align-content:center;
        justify-content: center;
        cursor: pointer;
    }
    .logo {
        display: flex;
        justify-content:flex-start;
        align-items: flex;
        margin-right: -10px;
    }
    .mobile-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .mobile-icons li a i {
        display: inline-block;
        padding: 5px;
        color: white;
        font-size: 2rem;
    }
    .mobile-icons i:hover{
        color: #9c9ca1;
        transition: .2 ease-in;
    }
    .icons {
        display: none;
    }
    .hero-section-right {
        display: none;
    }
    .hero-section-left{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .hero-section-left h1{
        font-size: 2rem;
    }
    .hero-section-btn {
        margin-right: 5%;
        width: 100%;
    }
    .scroll_indicator {
        margin-top:20px;
    }
    /* About Me for Mobile */
    .web-personal-image {
        display: none;
    }
    .about-me-content {
        height: 100vh;
    }
    .mobile-personal-image {
        display: inline-block;
        border-radius: 100px;
        margin-bottom: 5%;
    }
    .about-me-content p{
         display: flex;
         justify-content:center;
         align-items: center;
         align-content: center;
         margin-top: 3%;
    }
    /* Projects Section For Mobile */
    .projects-section {
        margin-top: 5%;
        padding-top: 5%;
        margin-bottom: 5%;
        position: relative;
        display: flex;
        justify-content:flex-start;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .projects-section h1 {
        display: flex;
        padding-top: 0px;
    }
    .project-image svg{
        display: none;
        max-height: 400px;
        max-width: 400px;
    }
    .is-active{
        display: block;
        max-height: 100px;
        max-width: 100px;
    }
    /* Coding Challenege Mobile */
    .coding-challegnes p{
        padding-bottom: 5%;
    }
    /* Contact Form Mobile */
    .contact{
        height: 90vh;
    }
    .form-inputs{
        width: 300px;
    }

}